@font-face{
    font-family: roboto;
    src: url(./fonts/Roboto-Medium.ttf);
}

body{
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: minmax(200px, 0.8fr) 3.5fr minmax(200px, 1fr);
    grid-template-rows: minmax(150px, 1fr) 5fr;
    min-height: 100vh;
}

.header, .side-content, .sidebar, .main-content{
    /* border: 1px solid black; */
}

.header{
    grid-column: 2 / 4;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    padding: 15px 35px 15px;
    gap: 20px;
}

.header-upper{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

.search{
    display: grid;
    grid-template-columns: 32px auto;
    gap: 20px;
    align-items: center;
}

.search > input{
    background-color: #E2E8F0;
    border: none;
    border-radius: 20px;
    width: 75%;
    height: 25px;
}

.profile-picture{
    border-radius: 50%;
}

.account{
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: bold;
}

.header-lower{
    display: flex;
    justify-content: space-between;
}
.greet-user{
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 15px;
    align-items: center;
}
.greet-user > span:first-of-type{
    align-self: end;
    padding-bottom: 3px;
}
.greet-user > span:last-of-type{
    align-self: start;
    padding-bottom: 3px;
    font-size: 20px;
}
.greet-user > img{
    grid-row: 1 / 3;
}
.greet-user > span:first-of-type{
    font-size: 12px;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 50px;
}
.buttons button{
    background-color: #1992D4;
    color: white;
    font-weight: bold;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
}

.sidebar{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: start;
    gap: 40px;
    background-color: #1992D4;
    color: white;
    padding: 20px 20px 0;
    font-size: 18px;
}

.sidebar > .sidebar-item:first-child > img{
    width: 48px;
    height: 48px;
}

.sidebar-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar-item > img{
    width: 32px;
    height: 32px;
}

.sidebar-item{
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: center;
    gap: 20px;
}

.main-content{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #E2E8F0;
    padding: 20px 20px 50px;
}

.side-content{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-color: #E2E8F0;
    padding: 20px 30px 50px 5px;
}

.card{
    display: grid;
    grid-template-rows: 40px 1fr 30px;
    min-height: 180px;
    background-color: white;
    padding: 15px 15px;
    border-radius: 10px;
    border-left: 10px solid orange;
    box-shadow: 0 0 3px 1px lightgray;
    box-sizing: border-box;
}

.card > h4{
    margin-bottom: 0;
}

.card > p{
    margin-top: 5px;
    font-size: 12px;
    font-weight: lighter;
    color: rgb(148, 148, 148);
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 30px;
} 
.icons{
    justify-self: end;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 20px;
}
.icons > img{
    width: 20px;
    height: 20px;
}

.announcements{
    display: grid;
    grid-template-rows: auto;
    background-color: white;
    border-radius: 10px;
    padding: 35px 30px;
}
.announcement-content{
    padding: 20px 0;
    border-bottom: 1px solid rgb(197, 197, 197);
}
.announcement-content:last-child{
    border: none;
}
.announcement-content > h4{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.announcement-content > p{
    font-size: 12px;
    font-weight: lighter;
    color: rgb(148, 148, 148);
    margin: 0;
    padding: 0;
}
.trending{
    display: grid;
    grid-template-rows: auto;
    background-color: white;
    border-radius: 10px;
    padding: 35px 30px;
    gap: 30px;
}
.trending-content{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 4fr;
    column-gap: 15px;
    row-gap: 3px;
    align-items: center;
}

.trending-content > span:last-child{
    font-size: 14px;
    font-weight: lighter;
    color: rgb(148, 148, 148);
}

.trending-content > img{
    grid-row: 1 / 3;
}
