@font-face{
    font-family: roboto;
    src: url(./fonts/Roboto-Medium.ttf);
}

body{
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr minmax(200px, 1fr);
    grid-template-rows: minmax(150px, 1fr) 5fr;
    min-height: 100vh;
}

.header, .side-content, .sidebar, .main-content{
    /* border: 1px solid black; */
}

.header{
    grid-column: 2 / 4;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    padding: 15px 35px 15px;
    gap: 20px;
}

.header-upper{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

.search{
    display: grid;
    grid-template-columns: 32px auto;
    gap: 20px;
    align-items: center;
}

.search > input{
    background-color: #E2E8F0;
    border: none;
    border-radius: 20px;
    width: 75%;
    height: 25px;
}

.profile-picture{
    border-radius: 50%;
}

.account{
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: bold;
}

.header-lower{
    display: flex;
    justify-content: space-between;
}
.greet-user{
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 15px;
    align-items: center;
}
.greet-user > span:first-of-type{
    align-self: end;
    padding-bottom: 3px;
}
.greet-user > span:last-of-type{
    align-self: start;
    padding-bottom: 3px;
    font-size: 20px;
}
.greet-user > img{
    grid-row: 1 / 3;
}
.greet-user > span:first-of-type{
    font-size: 12px;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 50px;
}
.buttons button{
    background-color: #1992D4;
    color: white;
    font-weight: bold;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
}

.sidebar{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: start;
    gap: 40px;
    background-color: #1992D4;
    color: white;
    padding: 20px 20px 0;
    font-size: 18px;
}

.sidebar > .sidebar-item:first-child > img{
    width: 48px;
    height: 48px;
}

.sidebar-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar-item > img{
    width: 32px;
    height: 32px;
}

.sidebar-item{
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: center;
    gap: 20px;
}

.main-content{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #E2E8F0;
}

.side-content{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-color: #E2E8F0;
}

.card{
    width: 300px;
    height: 150px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.trending-content{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 4fr;
}

.trending-content > img{
    grid-row: 1 / 3;
}
