body{
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr minmax(200px, 1fr);
    grid-template-rows: minmax(150px, 1fr) 5fr;
    min-height: 100vh;
}

.header, .side-content, .sidebar, .main-content{
    border: 1px solid black;
}

.header{
    grid-column: 2 / 4;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
}

.sidebar{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.side-content{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.header-upper{
    display: flex;
    justify-content: space-between;
}

.header-lower{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 300px;
    height: 150px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.trending-content{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 4fr;
}

.trending-content > img{
    grid-row: 1 / 3;
}